<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card mx-30">
          <img src="./../assets/edifi.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              BLUE TOWER </h5>
              Precio:234.000.000
            <h6>
              Junior Developer</h6>
            <p class="card-text">
              FRANCISCO DE ORELLANA.</p>
            <div class="socials">
              <a href="/reserva"><i class="fa fa-facebook"></i></a>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mx-30">
          <img src="./../assets/edifi.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              BLUE TOWER </h5>
              Precio:234.000.000
            <h6>
              Junior Developer</h6>
            <p class="card-text">
              FRANCISCO DE ORELLANA.</p>
            <div class="socials">
              <a href="/reserva"><i class="fa fa-facebook"></i></a>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mx-30">
          <img src="./../assets/edifi.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              <h5 class="card-title">
                BLUE TOWER </h5>
                Precio:234.000.000
              <h6>
                Junior Developer</h6>
              <p class="card-text">
                FRANCISCO DE ORELLANA.</p>
              <div class="socials">
                <a href="/reserva"><i class="fa fa-facebook"></i></a>
              </div>
            </h5>  
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
