
<div class="table-t">

    <form [formGroup]="inmubsd" (ngSubmit)="REGISTRAR($event)"method="POST">
        <div id="formulario"> 
          <h1> FORMULARIO </h1>
        </div>
          
              <div id="tabla-formulario">
          <label for="tipo">Tipo</label>
                  <input placeholder="Ingrese su nombre..." formControlName="tipo" type="text"     id="tabla1">

                  <label for="estado">Estado</label>
                  <input placeholder="Ingrese su estado..." formControlName="estado" type="text"     id="tabla2">

                  <label for="hora">Hora</label>
                  <input placeholder="Ingrese su hora..." formControlName="hora" type="time"     id="tabla3">


                  <label for="fecha">Fecha</label>
                  <input placeholder="Ingrese su fecha..." formControlName="fecha" type="date"     id="tabla4">
          
        
                
            
                 
                  
                  <label for="usuarios">Tipo Inmueble </label>
            <select  aria-label="categoria" formControlName="usuarios" id="tabla"> Descripcion
                <option [ngValue]="item" *ngFor="let item of inmueble" >
                        {{item.tipo_inmuble}}
                </option>
            </select>
       </div>
                <button name="registro" type="submit" class="btn btn-danger btn-sm m-2"  id="button"> ¡Registrarse! </button>
          </form>
</div>




    <table class="listado">
        <thead>
            <tr>
                <th><h1>CODIGO</h1></th>
                <th><h1>TIPO</h1></th>
                <th><h1>ESTADO</h1></th>
                <th><h1>HORA</h1></th>
                <th><h1>FECHA</h1></th>
                <th><h1>TIPO_INMUEBLE</h1></th>
                <th colspan="2"><h1>OPCIONES</h1></th>
            </tr>
        </thead>
        <tbody *ngFor="let item of poke">
            <tr>
                <th>{{item.id_reserva}}</th>
                <td>{{item.tipo}}</td>
                <td>{{item.estado}}</td>
                <td>{{item.hora}}</td>
                <td>{{item.fecha}}</td>

           
                 <td *ngIf="item.inmueble.tipo_inmuble!=null; nulo">{{item.inmueble.tipo_inmuble!}}</td> 
                 <ng-template #nulo ><td>vacio</td></ng-template>
                <td></td>
                <td>
                    <button type="button" (click)="delete(item)" class="bi bi-trash3-fill">ELIMINAR</button>
                    <button type="button" (click)="update(item)" class="bi bi-trash3-fill">EDITAR</button>
                  </td>
                 
        </tbody>
    </table>
    <button name="registro" type="submit" class="btn btn-danger btn-sm m-2" id="button"> 
            
 
        <a class="btn btn-danger btn-sm m-2" routerLink="/inmueble">Atras</a>
    </button>