<nav class="navbar">
    <!-- LOGO -->
   <div class="logo">INMOBILIARIA

    </div> 

    <!-- NAVIGATION MENU -->
    <ul class="nav-links"> 

        <!-- USING CHECKBOX HACK -->
        <!-- <input type="checkbox" id="checkbox_toggle" /> -->
        <!-- <label for="checkbox_toggle" class="hamburger">&#9776;</label> -->

        <!-- NAVIGATION MENUS -->
         <div class="menu">

            <li>
                <a routerLink="/inmueble" href="#">Listado de Inmueble</a>
            </li>
            <li>
                <a href="/crearinmobili">Registro de Inmueble</a>
            </li> 

           

             <li>
                <a href="/asesor">Registro de Asesor </a>
            </li>
            <li>
                <a href="/listado">Listado de Asesor</a>
            </li>
            </div>
        </ul> 
  </nav> 
